@page "/"

@using habytee.Client.Model;
@using habytee.Client.ViewModels;

<RadzenCard>
    <RadzenRow class="rz-text-align-center" Gap="1rem">
        <!-- Yesterday Column -->
        <RadzenColumn Size="4">
            <h3>Yesterday</h3>
            <RadzenDataGrid Data="@homeRazorViewModel?.YesterdayTasks" TItem="HabitCheckable">
                <Columns>
                    <RadzenDataGridColumn TItem="HabitCheckable" Property="Habit.Name"/>
                    <RadzenDataGridColumn TItem="HabitCheckable">
                        <Template Context="HabitCheckable">
                            <RadzenCheckBox @bind-Value="HabitCheckable.IsCompleted" Disabled="true" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenColumn>

        <!-- Today Column -->
        <RadzenColumn Size="4">
            <h3>Today</h3>
            <RadzenDataGrid Data="@homeRazorViewModel?.TodayTasks" TItem="HabitCheckable">
                <Columns>
                    <RadzenDataGridColumn TItem="HabitCheckable" Property="Habit.Name"/>
                    <RadzenDataGridColumn TItem="HabitCheckable">
                        <Template Context="HabitCheckable">
                            <RadzenCheckBox @bind-Value="HabitCheckable.IsCompleted" 
                                          Change="@(async (bool value) => await homeRazorViewModel!.ToggleHabitCompletion(HabitCheckable))" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenColumn>

        <!-- Tomorrow Column -->
        <RadzenColumn Size="4">
            <h3>Tomorrow</h3>
            <RadzenDataGrid Data="@homeRazorViewModel?.TomorrowTasks" TItem="HabitCheckable">
                <Columns>
                    <RadzenDataGridColumn TItem="HabitCheckable" Property="Habit.Name"/>
                    <RadzenDataGridColumn TItem="HabitCheckable">
                        <Template Context="HabitCheckable">
                            <RadzenCheckBox @bind-Value="HabitCheckable.IsCompleted" Disabled="true" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenColumn>
    </RadzenRow>
    <RadzenColumn Size="12">
        <h4>Task Completion Statistics</h4>
        <RadzenChart @ref="chart">
            <RadzenColumnSeries Data="@(homeRazorViewModel?.DayStatistics.ToList())" CategoryProperty="Weekday" Title="last 2 weeks" LineType="LineType.Dashed" ValueProperty="CompletionPercentage">
            <RadzenSeriesDataLabels Visible="false" /></RadzenColumnSeries>
            <RadzenColumnOptions Radius="5" />
            <RadzenCategoryAxis Visible="false" />
            <RadzenValueAxis Min="0" Max="100">
                <RadzenGridLines Visible="true" />
                <RadzenAxisTitle Text="Tasks completed" />
            </RadzenValueAxis>
        </RadzenChart>
    </RadzenColumn>
</RadzenCard>

