@page "/settings"
@using habytee.Client.ViewModels;

<PageTitle>Settings</PageTitle>

<RadzenCard>
    <h3>Appearance</h3>
    <RadzenAppearanceToggle @ref="appearanceToggle" Change="@(() => settingsViewModel?.OnThemeChanged())" />
</RadzenCard>
